@import '~styles/vars';

.top {
  display: flex;
  margin-top: 16px;
  align-items: flex-end;
  margin-bottom: 56px;
}

.player {
  width: 320px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 79px;
  border-radius: 4px;
}

.spec {
  display: flex;
  margin-top: 16px;
  li {
    display: flex;
    align-items: baseline;
    &:not(:last-child) {
      margin-right: 36px;
    }
  }
}

.section {
  &:not(:last-child) {
    margin-bottom: 56px;
  }
}

.head {
  border-bottom: 1px solid $grey-dawn-w2;
  padding-left: 8px;
  margin-bottom: 41px;
}

.endpoints {
  display: flex;
  & > * {
    flex: 1;
    max-width: 50%;
    &:first-child {
      margin-right: 21px;
    }
  }
}

.endpointTitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: $light2;
  margin-right: 8px;
}
.endpointStatus {
  display: flex;
  margin-bottom: 20px;
  align-items: baseline;
  text-transform: capitalize;
}
.mark {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #2d1153;
  margin-right: 17px;
  align-self: center;
  &.active {
    background: $minty-green;
  }
  &.error {
    background: $impossibly-pink;
  }
  &.pending {
    background: $sunkissed-orange;
  }
}

.copy {
  cursor: pointer;
}

.cell {
  max-width: 215px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.root {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 4px;
  color: $light;
  th {
    text-align: left;
    cursor: pointer;
    position: relative;
    padding: 20px 24px;
  }
  td {
    background-color: $grey-dawn;
    padding: 20px 24px;
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
  tr:nth-child(even) {
    td {
      background-color: $grey-dawn-w1;
    }
  }
}

.protocol {
  position: relative;
}

.pagination {
  position: sticky;
  bottom: 0;
  text-align: right;
}
