@import '~styles/vars';

.section {
  &:not(:last-child) {
    margin-bottom: 64px;
  }
}

.head {
  border-bottom: 1px solid $grey-dawn-w2;
  padding-left: 8px;
  margin-bottom: 41px;
}

.streamsHead {
  display: flex;
  align-items: flex-end;
  & > *:first-child {
    flex: 1;
    margin-bottom: 14px;
    margin-right: 24px;
  }
}

.details {
  width: 360px;
}

.detail {
  background: $grey-dawn-b2;
  border-radius: 8px;
  &:not(:last-child) {
    margin-bottom: 17px;
  }
}

.detailHead {
  background: $grey-dawn-w1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  height: 64px;
  padding: 16px 20px;
  color: $perfect-white;
  & > div {
    display: flex;
    align-items: baseline;
    & > * {
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
  svg {
    margin-right: 20px;
  }
}

.detailBody {
  padding: 16px;
  text-align: center;
}
.btns {
  margin-left: auto;
}
