@import '~styles/vars';

.root {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 4px;
  th {
    text-align: left;
    padding: 24px 0;
    cursor: pointer;
    position: relative;
    &:first-child {
      text-align: center;
      padding-left: 70px;
    }
    &:nth-child(2) {
      padding-left: 24px;
      padding-right: 24px;
    }
    svg {
      fill: $sunkissed-orange;
      transform: translate(-18px, 4px);
      position: absolute;
    }
  }
}

.empty {
  margin-top: 88px;
  opacity: 0.48;
}
