@import '~styles/vars';

.root {
  background: $violet-sky-b2;
  padding: 56px 56px 32px;
  display: flex;
  flex-direction: column;
}
.form {
  width: 100%;
}
.body {
  display: flex;
}

.left {
  flex: 1;
  margin-right: 65px;
}

.address {
  margin-top: 28px;
  margin-bottom: 20px;
}

.footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copy {
  cursor: pointer;
  position: absolute;
  right: 0;
}

.desc {
  margin: auto;
  text-align: center;
  padding-bottom: 24px;
}

.address {
  & > div {
    display: flex;
    & > label {
      flex: 1;
    }
    & > button {
      position: relative;
      z-index: 1;
      background: $violet-sky;
      border-radius: 4px;
      padding: 0 20px;
      border: none;
      color: $perfect-white;
      font-size: 16px;
      font-weight: 500;
    }
  }
}
