@import '~styles/vars';

.root {
  background: $violet-sky-b2;
  padding: 56px 56px 32px;
  display: flex;
  flex-direction: column;
}
.body {
  display: flex;
}

.left {
  flex: 1;
  margin-right: 65px;
}

.address {
  margin-top: 28px;
  margin-bottom: 20px;
}

.footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copy {
  cursor: pointer;
  position: absolute;
  right: 0;
}
