@import '~styles/vars';

.root {
  margin: 64px 96px 0;
}

.table {
  width: 100%;
  td {
    padding: 8px 0;
  }
}
.from {
  color: #b8a8ce !important;
}

.hash {
  width: 301px;
}

.header {
  border-bottom: 1px solid;
  padding-left: 8px;
  border-bottom: 1px solid $grey-dawn-w2;
  margin-bottom: 24px;
}

.vid {
  margin-left: 5px;
}

.value {
  text-align: right;
  width: 120px;
}

.pagination {
  position: sticky;
  bottom: 10px;
  text-align: right;
}
