body,
html {
  font-family: $baseFont;
  background: $bg no-repeat;
  min-height: 100vh;
  min-width: 1200px;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.vc-container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: $perfect-white;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.07px;
  text-transform: uppercase;
  &_violet {
    color: $light;
  }
}

.g-tac {
  text-align: center;
}

.g-flex {
  display: flex;
}
.g-flex-justify {
  &_center {
    justify-content: center;
  }
}

.g-flex-align {
  &_center {
    align-items: center;
  }
}

.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-right: 8px;
  padding-left: 8px;
  @media only screen and (min-width: 576px) {
    width: 560px;
    max-width: 100%;
  }
  @media only screen and (min-width: 768px) {
    width: 752px;
    max-width: 100%;
  }
  @media only screen and (min-width: 992px) {
    width: 976px;
    max-width: 100%;
  }
  @media only screen and (min-width: 1200px) {
    width: 1184px;
    max-width: 100%;
  }
}

.termsPage {
  padding-top: 50px;
  padding-bottom: 50px;
}
