@import '~styles/vars';
@import 'colors';

.top {
  display: flex;
  margin-top: 16px;
  align-items: flex-end;
  margin-bottom: 56px;
}
.nav {
  display: flex;
  button {
    background: none;
    border: none;
    margin-right: 36px;
    position: relative;
    &.active {
      &::before {
        border-radius: 2px;
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        position: absolute;
        bottom: -5px;
        left: 0;
        background: linear-gradient(225deg, #7234c8 0%, #4e238e 100%);
      }
    }
  }
}
.player {
  width: 320px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 79px;
  border-radius: 4px;
  background-color: black;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.spec {
  display: flex;
  margin-top: 16px;
  li {
    display: flex;
    align-items: baseline;
    &:not(:last-child) {
      margin-right: 36px;
    }
  }
}

.section {
  &:not(:last-child) {
    margin-bottom: 56px;
  }
}

.head {
  border-bottom: 1px solid $grey-dawn-w2;
  padding-left: 8px;
  margin-bottom: 41px;
}

.endpoints {
  display: flex;
  & > * {
    flex: 1;
    max-width: 50%;
    &:first-child {
      margin-right: 21px;
    }
  }
}

.endpointTitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: $light2;
  margin-right: 8px;
}
.endpointStatus {
  display: flex;
  margin-bottom: 20px;
  align-items: baseline;
  text-transform: capitalize;
}
.mark {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #2d1153;
  margin-right: 17px;
  align-self: center;
  &.active {
    background: $minty-green;
  }
  &.error {
    background: $impossibly-pink;
  }
  &.pending {
    background: $sunkissed-orange;
  }
}

.copy {
  cursor: pointer;
}

.cell {
  max-width: 215px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.root {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 4px;
  color: $light;
  th {
    text-align: left;
    cursor: pointer;
    position: relative;
    padding: 20px 24px;
  }
  td {
    background-color: $grey-dawn;
    padding: 20px 24px;
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
  tr:nth-child(even) {
    td {
      background-color: $grey-dawn-w1;
    }
  }
}

.protocol {
  position: relative;
}

.pagination {
  position: sticky;
  bottom: 0;
  text-align: right;
}
.rtcInputs {
  & > * {
    margin-bottom: 15px;
  }
}

.dragZone {
  max-width: 512px;
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  border: 1px dashed $grey-dawn-w4;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  &.dragActive {
    background-color: $violet-sky;
    border-color: $violet-sky-b3;
    border-style: solid;
  }
  &.hidden {
    display: none;
  }
}
.dragDesc {
  display: flex;
  align-items: baseline;
  padding-right: 28px;
  padding-left: 64px;
  & > *:not(:last-child) {
    margin-right: 8px;
  }
}

.draggedFile {
  display: flex;
  align-items: center;
  max-width: 100%;
  width: 100%;
  height: 100%;
  padding-right: 28px;
  padding-left: 64px;
  z-index: 1;
  &.upload {
    background-color: $violet-sky-b3;
    color: $perfect-white;
  }
  & > div:first-child {
    display: flex;
    align-items: center;
    margin-right: auto;
    padding-right: 15px;
    min-width: 1px;
    svg {
      margin-right: 24px;
      flex-shrink: 0;
    }
    div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  button {
    margin-left: auto;
    background: transparent;
    border: none;
  }
}

.progress {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: linear-gradient(225deg, #7234c8 0%, #4e238e 100%);
  z-index: -1;
  &.finished {
    &::after {
      display: none;
    }
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    background: linear-gradient(225deg, #f53568 0%, #fd9369 100%);
    height: 2px;
    left: 0;
    bottom: 4px;
  }
}
