@import '~styles/vars';

.header {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.title {
  flex: 1;
  padding-left: 8px;
  border-bottom: 1px solid $grey-dawn-w2;
}

.section {
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.field {
  padding: 8px 0 8px 32px;
  display: flex;
  align-items: baseline;
  & > *:first-child {
    width: 130px;
    margin-right: 13px;
  }
}

.terms {
  a {
    display: inline-block;
    &:first-child {
      margin-bottom: 12px;
    }
  }
}

.newToken {
  margin-left: 15px;
  transform: translateY(15px);
}
.token {
  color: #fff;
  display: flex;
  align-items: center;
}
