@import 'colors';
.root {
  padding-top: 50px;
  margin-bottom: 94px;
}
.status {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  & > div:first-child {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    border: 1px solid $grey-dawn-w1;
    margin-right: 13px;
  }
  &.BUSY {
    & > div:first-child {
      background-color: $minty-green;
    }
  }
  &.IDLE {
    & > div:first-child {
      background-color: $sunkissed-orange;
    }
  }
  &.OFFLINE,
  &.NEW {
    & > div:first-child {
      background-color: $grey-dawn-b2;
    }
  }
}

.spec {
  & > div {
    display: flex;
    margin-bottom: 10px;
    & > div:first-child {
      width: 75px;
      margin-right: 10px;
    }
  }
}
.info {
  margin-top: 72px;
}
.head {
  border-bottom: 1px solid $grey-dawn-w2;
  margin-bottom: 24px;
}
.config {
  display: flex;
  align-items: center;
  padding-left: 24px;
  & > div:first-child {
    margin-right: 12px;
  }
}

.configItem {
  margin-left: 16px;
  border-radius: 12px;
  height: 56px;
  background-color: $violet-sky-b3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.name {
  margin-top: 20px;
  width: 360px;
}
.pagination {
  text-align: right;
}
.timeCell {
  white-space: nowrap;
}

.form {
  max-width: 757px;
  margin: 30px -10px 0;
  & > div {
    display: flex;
    margin-bottom: 28px;
    & > * {
      flex: 1;
      margin: 0 10px;
    }
    &.halfInput {
      width: 50%;
    }
  }
}

.thirdpartyCheck {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  & > div:first-child {
    white-space: nowrap;
    margin-right: 89px;
  }
}
.delegatePolicy {
  max-width: 737px;
}
