@import '~styles/vars';

.root {
  position: fixed;
  height: 112px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  background: $violet-sky-b3;
  box-shadow: $lofty;
  left: 132px;
  bottom: 64px;
  padding: 36px 25px;
}
.balance {
  margin-right: 7px;
  margin-left: 25px;
  align-self: baseline;
}
