@import '~styles/vars';
@import '~styles/mixins';

.root {
  position: fixed;
  height: 112px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  background: $violet-sky-b3;
  box-shadow: $lofty;
  bottom: 64px;
  padding: 36px 25px;
  left: 350px;
  @include laptop {
    left: 132px;
  }
}
.balance {
  margin-right: 7px;
  margin-left: 25px;
  align-self: baseline;
}
