@import '~styles/vars';

.wrap {
  text-align: center;
  margin-top: 10px;
  padding-bottom: 20px;
}

.form {
  max-width: 388px;
  width: 100%;
  margin: 0 auto;
}

.field {
  margin-bottom: 35px;
}

.successHeader {
  padding: 15px 0;
  img {
    width: 100%;
  }
}
