.form {
  padding: 38px 40px 22px;
}

.fields {
  margin-bottom: 28px;
  & > * {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
.forgotBtn {
  text-align: center;
  margin-top: 15px;
}
